@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>You can find my ODU email below. Though if you've managed to find your way to this page, I'm sure you at least have my CS account name.</p>

<address>
    <strong>Creator:</strong> <a href="mailto:ahayn002@odu.edu">Drew Haynes</a><br />

</address>
